@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/colors';
@import "~@openmrs/esm-styleguide/src/vars";
@import '../root.scss';

.orderTabsContainer {
  height: 100%;
  width: 100%;

  :global(.cds--tab-content) {
    padding: 0 !important;
  }
}