@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@openmrs/esm-styleguide/src/vars' as *;



.radioButton {
  padding: spacing.$spacing-02 spacing.$spacing-02;
  margin: spacing.$spacing-03 0;
}

section {
  margin: spacing.$spacing-03;
}

.sectionTitle {
  margin-bottom: spacing.$spacing-04;
}

.body {
  padding: 1rem;
}


.container {
  background-color: $ui-background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.button {
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;
}

.buttonSet {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.specimenContainer {
  display: "flex";
  align-items: "center";
  justify-content: "space-between";
  column-gap: "10px";
}

.inputText {
  display: "flex";
  align-items: "center";
}

.flexRow{
  display: 'flex';
  column-gap: '10px';
}

.errorMessage {
  color: #d93025;
  font-size: 0.875rem;
  margin: 1rem;
}